[run]
branch = True
source = .
omit =
    */site-packages/*
    test_*.py
    *_test.py
    whitebox_testing.py
    generate_test_dashboard.py
    cv2.py


[report]
exclude_lines =
    pragma: no cover
include =

source =
    advanced_analysis.py
    app2.py
    classification.py
    config.py
    copy_move_detection.py
    ela_analysis.py
    export_utils.py
    feature_detection.py
    jpeg_analysis.py
    main.py
    utils.py
    validation.py
    visualization.py

show_missing = true
sort = Cover
